@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');



/*
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F1bg.png?alt=media&token=f8f33f64-83ef-4c8d-b686-651fcc38f44e
яблуко
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Feducation.png?alt=media&token=6bb34648-b757-467b-8108-8a3c8cc169ca
студенты


https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FClock.svg?alt=media&token=25c08f28-1a12-4f13-a306-3e54334bab73
часы
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FGlobe.svg?alt=media&token=92b6b0ae-2b6d-4d0f-9f81-7b16c436ee8c
глобус
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FLyre.png?alt=media&token=9bb62fc0-e18b-4314-be20-91dbb01f9e88
лира
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FiPhone.svg?alt=media&token=4cc0a80a-7652-40c3-acd5-9f1505f3bb2f
телефон
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FMan.svg?alt=media&token=8083f62f-d004-47ab-b360-8253e536be5f
человек
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F1.png?alt=media&token=e263bca1-bc2f-478a-8f3a-ba452146eef4
1 программа
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F2.png?alt=media&token=a71730e2-3430-4398-baa0-08e43b2f8128
2 алгоритмы
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F3.png?alt=media&token=fe3a736a-393f-4912-b8a3-a972446e1300
3 економика
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F4.png?alt=media&token=47677768-40bf-478b-ab33-b9eb667430b5
4 история
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fcambridge.png?alt=media&token=749dfa2e-e9ca-4e65-a9b5-49fcd983d4bd
кембридж
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fharvard.png?alt=media&token=480c6811-2781-47f8-bca2-3dfb3a095207
хавард
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fmit_crest_logo.png?alt=media&token=2711a207-e2ee-4ce8-a394-871dfda5c1a5
мит
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fucla.png?alt=media&token=92f9d7ec-5273-45ae-826a-dc05e0ccd918
укла
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FAback.png?alt=media&token=787dcad9-4c5f-457a-8a4d-62fa9837daa7
стрелка назад
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FAnext.png?alt=media&token=fc06fe68-fd18-4d52-a4d9-b7d7fc4a28b1
стрелка вперед
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fworker1.png?alt=media&token=13cfe3ec-7d94-46d5-ac85-cc0490c2d4ef
первый работник
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fworker2.png?alt=media&token=9e7e3674-17c8-46b1-8e22-f3d01adc4f88
второй
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fwork3.png?alt=media&token=8f2cb2da-2db0-4e4f-862b-db27748fc38c
третий
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fworker4.png?alt=media&token=16a5194b-a28e-44aa-91c0-585d1c2a6267
четвертая
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Ftwitter.png?alt=media&token=481d5904-55c4-4d9b-807a-84549fa6873e
твитер син
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Ffacebook.png?alt=media&token=d7d06cbc-69ab-49cd-9485-567a773c9680
фейс син
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fgoogle-plus.png?alt=media&token=29399a64-41a5-43de-b230-c08545c7e564
гугл
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Ftwitter%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png?alt=media&token=20eafb7a-e1a9-4b06-98ef-c83b0d42c904
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Ffacebook%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png?alt=media&token=81a1fdb0-7f95-4fad-97c1-085a1e7e7ec7
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fgoogle-plus%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png?alt=media&token=5ed3ed08-8a57-4b81-a29e-c1d44e50a5d7


*/
* {
  margin: 0;
}

/* min-width: 1000px */
@media (min-width: 1000px) {
  .main__header {
    font-size: 60px;
  }
  .form__container {
    justify-content: flex-end;
  }
  .header_form_elements {
    width: 350px;
  }
  .pre__header {
    letter-spacing: 1px;
  }
}

/* max-width: 992px */
@media (max-width: 992px) {
nav {
  height: 100px;
}
.main__header {
  font-size: 50px;
}
.navbar-dark .navbar-toggler {
    padding-left: 40%;
    border-color: transparent;
  }
  .form__container {
    flex-direction: row;
    justify-content: flex-end;
  }
  .header_form_elements {
    width: 350px
  }
}
/* max-width: 870px */
@media (max-width: 870px) {
  .navbar-dark .navbar-toggler {
    padding-left: 23%;
    border-color: transparent;
  }
  .pre__header {
    display: none;
  }
  .main__header {
    font-size: 41px;
  }
  .form__container {
    justify-content: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__form, .header_form_elements {
    width: 100%;
  }
}
/* main content */
.background__apple {
  width: 100%;
  height: 700px;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F1bg.png?alt=media&token=f8f33f64-83ef-4c8d-b686-651fcc38f44e');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
nav>ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  
}
nav>ul>li>a {
  text-decoration: none;
}
.link {
  padding-top: 76px;
}
.logo {
  font-size: 52px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 0.147;
} 
.text {
  font-size: 25px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.306;
  font-weight: 300;
}

.main__header {
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.761;
  text-align: right;
  padding-right: 40px;
}
.pre__header {
  font-size: 32px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.761;
  text-align: right;
  padding-right: 75px;
  padding-bottom: 22px
}
.form__container {
  position: relative;
  max-width: 920px;
  margin: 0 auto;
  height: 284px;
  display: flex;
}
.header__form {
  display: flex;
  flex-direction: column;
}
.header_form_elements {
  position: relative;
  height: 65px;
  margin-bottom: 30px;
}
.input__header {
  padding-left: 20px;
  
}
.btn__submit {
  width: 100%;
  height: 67px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(186, 39, 31);
  font-size: 21px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.255;
  padding: 30px 0px 30px 0px;
}



