@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



/*
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F1bg.png?alt=media&token=f8f33f64-83ef-4c8d-b686-651fcc38f44e
яблуко
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Feducation.png?alt=media&token=6bb34648-b757-467b-8108-8a3c8cc169ca
студенты


https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FClock.svg?alt=media&token=25c08f28-1a12-4f13-a306-3e54334bab73
часы
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FGlobe.svg?alt=media&token=92b6b0ae-2b6d-4d0f-9f81-7b16c436ee8c
глобус
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FLyre.png?alt=media&token=9bb62fc0-e18b-4314-be20-91dbb01f9e88
лира
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FiPhone.svg?alt=media&token=4cc0a80a-7652-40c3-acd5-9f1505f3bb2f
телефон
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FMan.svg?alt=media&token=8083f62f-d004-47ab-b360-8253e536be5f
человек
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F1.png?alt=media&token=e263bca1-bc2f-478a-8f3a-ba452146eef4
1 программа
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F2.png?alt=media&token=a71730e2-3430-4398-baa0-08e43b2f8128
2 алгоритмы
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F3.png?alt=media&token=fe3a736a-393f-4912-b8a3-a972446e1300
3 економика
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F4.png?alt=media&token=47677768-40bf-478b-ab33-b9eb667430b5
4 история
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fcambridge.png?alt=media&token=749dfa2e-e9ca-4e65-a9b5-49fcd983d4bd
кембридж
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fharvard.png?alt=media&token=480c6811-2781-47f8-bca2-3dfb3a095207
хавард
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fmit_crest_logo.png?alt=media&token=2711a207-e2ee-4ce8-a394-871dfda5c1a5
мит
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fucla.png?alt=media&token=92f9d7ec-5273-45ae-826a-dc05e0ccd918
укла
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FAback.png?alt=media&token=787dcad9-4c5f-457a-8a4d-62fa9837daa7
стрелка назад
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2FAnext.png?alt=media&token=fc06fe68-fd18-4d52-a4d9-b7d7fc4a28b1
стрелка вперед
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fworker1.png?alt=media&token=13cfe3ec-7d94-46d5-ac85-cc0490c2d4ef
первый работник
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fworker2.png?alt=media&token=9e7e3674-17c8-46b1-8e22-f3d01adc4f88
второй
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fwork3.png?alt=media&token=8f2cb2da-2db0-4e4f-862b-db27748fc38c
третий
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fworker4.png?alt=media&token=16a5194b-a28e-44aa-91c0-585d1c2a6267
четвертая
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Ftwitter.png?alt=media&token=481d5904-55c4-4d9b-807a-84549fa6873e
твитер син
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Ffacebook.png?alt=media&token=d7d06cbc-69ab-49cd-9485-567a773c9680
фейс син
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fgoogle-plus.png?alt=media&token=29399a64-41a5-43de-b230-c08545c7e564
гугл
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Ftwitter%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png?alt=media&token=20eafb7a-e1a9-4b06-98ef-c83b0d42c904
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Ffacebook%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png?alt=media&token=81a1fdb0-7f95-4fad-97c1-085a1e7e7ec7
https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fgoogle-plus%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png?alt=media&token=5ed3ed08-8a57-4b81-a29e-c1d44e50a5d7


*/
* {
  margin: 0;
}


/* (max-width: 769px */
@media (max-width: 769px) {
  .lyreImg {
    display: none
  }
  .center {
    margin: 0 auto;
  }
  .navbar-dark .navbar-toggler {
    padding: 12px;
    border-color: transparent;
  }
  .cards__adv {
    height: 825px;
  }
  .padding {
    padding-top: 0;
  }
  .course {
    margin-top: 250px;
    height: 3900px;
  }
  .cards__course {
    padding-top: 0;
  }
  .program__card {
    max-width: 540px;
    background: #e8e8e8;
    display: block;
    margin: 15px auto
  }
  .program__card {
    padding: 10px;
    background: #e8e8e8;
    display: flex;
    flex-direction: column-reverse;
  }
  .paragrph__card {
    width: 100%;
  }
  .header__card {
    font-size: 40px;
  }
  .card__img img{
    padding: 20px;
    width: 100%;
  }
  .register {
    height: 70px;
    margin: 15px 0 18px 0;
  }
  .logo_university {
    width: 70%;
    margin-left: 15%;
  }
  .slider__text {
    text-align: center;
    font-size: 30px;
  }
  .__arrow {
    width: 70px;
    margin-left: 46.5%;
    padding: 15px 0 15px 0;
  }
  .up {
    transform: rotate(90deg);
  }
  .down {
    transform: rotate(90deg);
  }
  .ucla {
    display: flex;
    flex-direction: column-reverse;
  }
  .education {
    width: 100%;
    height: 405px;
   background: #a99473;
  }
  .education__text {
    padding-top: 33px;
    position: relative;
    height: 100%;
    text-align: left;
   }
   .education__header {
    text-align: center;
    font-size: 35px;
    font-family: "OpenSans", sans-serif;
    color: rgb(245, 245, 245);
    line-height: 0.858;
   }
   .education__description {
    padding-left: 30px;
    font-size: 26px;
    font-family: "Lato";
    color: rgba(241, 241, 242, 0.78);
    line-height: 1;
    text-align: center;
   }
   .get__education {
    border-style: 1px solid rgb(255, 255, 255);
    background-color: rgb(186, 39, 31);
    height: 64px;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.255;
    text-align: center;
    width: 100%;
   }
   .w-100 {
    width: 70% !important; 
    margin-left: 15%
  }
  .name {
    text-align: center;
    font-size: 40px;
    font-family: "Lato", sans-serif;
    color: rgb(62, 62, 62);
    line-height: 0.638;
    padding-top: 24px;
    padding-bottom: 10px;
  }
  .text__muted {
    font-size: 24px;
   font-family: "Lato";
   color: rgb(62, 62, 62);
   line-height: 1.501;
   text-align: center;
   margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
   }
}
/* (max-width: 400px */
@media (max-width: 400px) {
  h2 {
    line-height: 1;
  }
  .course {
    margin-top: 250px;
    height: 3650px;
  }
  .__arrow {
    width: 50px;
    margin-left: 44.5%;
    padding: 15px 0 15px 0;
  }
}




/* main content */

.background__apple {
  width: 100%;
  height: 700px;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2F1bg.png?alt=media&token=f8f33f64-83ef-4c8d-b686-651fcc38f44e');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
nav>ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  
}
nav>ul>li>a {
  text-decoration: none;
}
.link {
  padding-top: 76px;
  z-index: 5;
}

.logo {
  font-size: 52px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 0.147;
  padding-left: 40px;
} 
.text {
  font-size: 25px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.306;
  font-weight: 300;
}

.main__header {
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.761;
  text-align: right;
  padding-right: 40px;
}
.pre__header {
  font-size: 32px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.761;
  text-align: right;
  padding-right: 75px;
  padding-bottom: 22px
}
.form__container {
  position: relative;
  max-width: 920px;
  margin: 0 auto;
  height: 284px;
  display: flex;
  z-index: 0;
  padding-left: 40px;
  padding-right: 40px;
}
.header__form {
  display: flex;
  flex-direction: column;
}
.header_form_elements {
  position: relative;
  height: 65px;
  margin-bottom: 30px;
}
.input__header {
  padding-left: 20px;
  
}
.btn__submit {
  width: 100%;
  height: 67px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(186, 39, 31);
  font-size: 21px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.255;
  padding: 30px 0px 30px 0px;
}


.advantages {
  width: 100%;
  height: 629px;
  background: white;
}
h2 {
  font-size: 45px;
  font-family: "OpenSans", sans-serif;
  color: rgb(62, 62, 62);
  text-align: center;
  padding-top: 50px;
}
.cards__adv {
  position: relative;
  max-width: 1110px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 45px;
}

.name__card {
  font-size: 30px;
  font-family: "OpenSans", sans-serif;
  color: rgb(62, 62, 62);
  line-height: 0.638;
  padding-top: 25px;
}
.description {
  font-size: 15px;
  font-family: "OpenSans", sans-serif;
  color: rgb(62, 62, 62);
  line-height: 2.002;
}

.lyre {
  margin: 0 auto;
  align-items:baseline;
}
.lyreImg {
  align-self: flex-end;
}

.course {
  width: 100%;
  background-color: rgb(240, 240, 240);
}
.cards__course {
  position: relative;
  max-width: 1140px;
  height: 500px;
  text-align: center;
}
h3 {
  font-family: "OpenSans", sans-serif;
  color: rgb(62, 62, 62);
  line-height: 1.701;
  text-align: center;
}
.header__card {
  font-family: "OpenSans", sans-serif;
  color: rgb(62, 62, 62);
  line-height: 1.365;
  text-align: center;
}


.link__card {
  color: #ba271f;
}
.slider__text:hover {
  color: #ba271f;
}
.slider__arrows {
  position: absolute;
}


