@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

@media (max-width: 767px) {
 .lyre {
  display: none;
 }
}



* {
 margin: 0;
}

.apple {
 width: 100%;
 background: url('https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fapple-BG.png?alt=media&token=4551e53c-bbce-4e5a-941a-2f83dbc86607https://firebasestorage.googleapis.com/v0/b/uploading-images-cf9c0.appspot.com/o/images%2Fapple-BG.png?alt=media&token=4551e53c-bbce-4e5a-941a-2f83dbc86607');
 height: 700px;
}
.apple_wrapper {
 position: relative;
 background-color: rgb(189, 149, 105);
 opacity: 0.251;
 width: 100%;
 height: 100%;
}
.course_center {
 position: relative;
 display: flex;
 justify-content: flex-end;
 width: 1170px;
}
.navbar-toggler {
 z-index: 5;
}
.COURSEWAY {
 font-size: 52px;
 font-family: "Lato";
 color: rgb(255, 255, 255);
 display: flex;
 justify-content: center;
 width: 720px;
}
.menu {
 position: relative;
 font-size: 25px;
 font-family: "OpenSans", sans-serif;
}
.fixed-top {
 margin-top: 20px;
}
.list {
 width: 760px;
}

li.nav-item {
 margin-left: 26px;
 margin-right: 26px;
 width: 140px;
}
.project {
 width: 155px;
}

.centering_adv, .centering_course, .slider {
 justify-content: center;
 text-align: center;
}
.one, .two .three {
 width: 350px;
}
.card {
 border: none;
 height: 250px;
}
.lyre {
 margin-top: 140px;
}
.container_adv, .container_course {
 margin-bottom: 30px;
 margin-top: 30px;

}
.grey {
 background-color: rgb(240, 240, 240);
}
.cardsCurse {
 padding-bottom: 45px;
}
.image {
 padding: 30px;
}
.c {
 margin: 0 auto;
 display: flex;
 justify-content: center;
 width: 68.125%;
}
.card_course {
 display: flex;
 flex-direction: row;
 flex-direction: row-reverse;
}
.card-title {
 padding-top: 15px;
 padding-left: 15px;
 text-align: center;
}
.btnCourse {
 display: flex;
 justify-content: flex-end;
}
.regester {
 align-items: center;
 font-size: 10px;
 font-family: "OpenSans", sans-serif;
 color: rgb(255, 255, 255);
 width: 162px;
 height: 32px;
 border: 1px solid rgb(255, 255, 255);
 background-color: rgb(186, 39, 31);
 margin-top: 5px;
}
.slider {
 margin-bottom: 0px;
}

.sliderPosition {
 width: 73.125%;
 margin: 0 auto;
}
.flag {
 display: flex;
}
.img-flex {
 flex-direction: column;
 margin-left: 53px;
}
